/*Colors of menu*/
$menu-bg-color: #0277BD;
$menu-bd-color: #013243;
$menu-ft-color: #FFFFFF;

/*Colors of section*/
$section-ft-color: #5FA5FB;

/*Colors of utilities*/
$utilities-bg: #f5f5f5;
$utility-bg: #2196F3;
$utility-bg-hover: #0277BD;
$utility-title-color: #F5F5F5;


/*Colors of team*/
$equipe-title-ft: #2e3131;
$equipe-title-bg: #f5f5f5;
$employee-ft-color-name: #E3F2FD;
$employee-ft-color-function: #f5f5f5;
$employee-bg-description: #24252a;
$employee-striking: #E3F2FD;

/*Colors of contacts*/
$contacts-bg: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.8)), url('../images/background-contacts.jpg');
$contacts-subtitle: #f5f5f5;
$informations-bg: rgba(0, 0, 0, .7);
$informations-ft-color: #fff;
$informations-striking: #2196F3;

/*Colors of Services*/
$service-ft-color: #5FA5FB;
$service-bg-hover: #CFD8DC;
$service-ft-hover: #263238;
